* {
  height: 4vh;
  width: 10vw;
}

.button {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 0;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  width: 5%;
}

.button:disabled {
  background-color: #162d17; /* Gray */
  cursor: not-allowed;
}

.toggle {
  color: white;
  background-color: #162d17;
  width: 10vw;
  height: 10vh;
}
