.button {
  background-color: #1f1f1f;
  border: none;
  color: white;
  padding: 0;
  margin: 0;
  text-align: center;
  cursor: pointer;
  width: 90%;
  height: 80%;
  border-radius: 10%;
  transition: 0.3s ease-in;
  transition: 0.3s ease-out;
}

.button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.button:hover {
  background-color: #b83333;
}

.undo {
  border: none;
  color: white;
  background-color: #162d17;
  width: 100%;
  background-color: #1f1f1f;
  border: none;
  color: white;
  padding: 0;
  margin: 0;
  text-align: center;
  cursor: pointer;
  height: 80%;
  border-radius: 10px;
  transition: 0.3s ease-in;
  transition: 0.3s ease-out;
}

.undo:hover {
  background-color: #b83333;
}
.undo:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.toggle {
  border: none;
  color: white;
  background-color: #162d17;
  width: 100%;
  background-color: #1f1f1f;
  border: none;
  color: white;
  padding: 0;
  margin: 0;
  text-align: center;
  cursor: pointer;
  height: 80%;
  border-radius: 10px;
  transition: 0.3s ease-in;
  transition: 0.3s ease-out;
}

.toggle:hover {
  background-color: #b83333;
}

.toggle:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.scramble {
  margin-left: 1.5vw;
  margin-right: 1.5vw;
}

.scrambleinput {
  background-color: #1f1f1f;
  border: none;
  color: white;
  padding: 0.8%;
  border-radius: 10px;
  width: 40vw;
  height: 4vh;
}

.scrambleinput:focus {
  outline: none;
  box-shadow: 0 0 5px #b83333;
  transition: 0.3s ease-in;
}

.scramblebuttons {
  display: flex;
  flex-direction: row;
  gap: 1vw;
  margin-left: 1.5vw;
  align-items: center;
}

.scramblebutton {
  background-color: #1f1f1f;
  border: none;
  color: white;
  padding: 0;
  text-align: center;
  cursor: pointer;
  width: 12vw;
  border-radius: 10px;
  transition: 0.3s ease-in;
  transition: 0.3s ease-out;
}

.scramblebutton:hover {
  background-color: #b83333;
  transition: 0.3s ease-in;
}

.solution {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #1f1f1f;
  border: none;
  color: white;
  margin-left: 1%;
  margin-right: 1%;
  margin-top: 1%;
  text-align: center;
  width: 28vw;
  height: 60vh;
  border-radius: 10px;
}

.solve {
  background-color: #474747;
  border: none;
  color: white;
  padding: 0;
  margin: 0;
  text-align: center;
  cursor: pointer;
  width: 100%;
  height: 10%;
  border-radius: 10px;
  transition: 0.3s ease-in;
  transition: 0.3s ease-out;
}

.solve:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.solve:hover {
  background-color: #b83333;
}
