.keypad {
  width: 100vw;
  height: 8vh;
  display: flex;
  align-items: center;
  justify-content: first baseline;
  background-color: rgb(33, 33, 33);
}

.button {
  width: 50px;
  height: 50px;
  margin: 5px;
  font-size: 24px;
  color: white;
  background-color: #83399a;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button:hover {
  background-color: #671773;
}
